@model ContactManager.Models.Contact

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Contact</h1>

<h5 style="font-weight: normal">Do you really want to delete <label style="font-weight: bold">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</label>?</h5>
<div>
    <form asp-action="Delete">
        <button class="btn btn-dark mr-1" type="submit">Yes</button>
        <a class="btn btn-dark" asp-action="Details" asp-route-id="@Model.ContactID" asp-route-slug="@Model.Slug">No</a>
    </form>
</div>
