@model ContactManager.Models.Contact

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Contact</h1>
<div class="row mt-3">
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label">Category</label>
                <select asp-for="CategoryID" class="form-control">
                    <option value="" disabled>select a category</option>
                    @foreach (Category c in ViewBag.Categories)
                    {
                        <option value="@c.CategoryID">@c.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Organisation" class="control-label"></label>
                <input asp-for="Organisation" class="form-control" />
                <span asp-validation-for="Organisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-dark">Edit</button>
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@Model.ContactID">Cancel</a>
            </div>
        </form>
    </div>
</div>

